= image_tag("/assets/logo.svg", class: "logo", alt: "SD Ruby logo", size: "800x332")

#intro
  %p SD Ruby, based in San Diego, CA, is a meetup for developers who use Ruby, Ruby and Rails, and a ton of other fun web technologies.

  %p Normally, we meet once in a month in person. But, until the pandemic is over, we'll be doing monthly virtual meetups.

  %p If you're interested in Ruby or Ruby on Rails, please join us!

.columns
  .column
    %span.icon
      %i.fab.fa-meetup
    %span= link_to "Meetup", "https://www.meetup.com/sdruby/"
  .column
    %span.icon
      %i.fab.fa-slack
    %span= link_to "Slack", "https://sd-ruby.slack.com/"
  .column
    %span.icon
      %i.fab.fa-google
    %span= link_to "Google", "https://groups.google.com/g/sdruby"

  .column
    %span.icon
      %i.fab.fa-youtube
    %span= link_to "YouTube", "https://www.youtube.com/channel/UCJjoKJ6wdEGtC87uwEC1q_g/videos?view=0&sort=da"
  .column
    %span.icon
      %i.fab.fa-twitter
    %span= link_to "Twitter", "https://twitter.com/sdruby"

%footer.footer
  .content.has-text-centered
    #{link_to "Read our Code of Conduct", "/conduct"}.
