%h1 SD Ruby Organizers

%p.has-text-centered Meet the team behind SD Ruby.

.columns
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span= link_to "Rob Kaufman, Organizer", "https://www.linkedin.com/in/robkaufman/", target: "blank"
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span= link_to "Chris McCann, Organizer", "https://www.linkedin.com/in/chris-mccann-a663a21/", target: "blank"

.columns
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span= link_to "Sarah Proctor, Organizer", "https://www.linkedin.com/in/sarahproctor-dev/", target: "blank"
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span= link_to "Erik Guzman, Organizer", "https://www.linkedin.com/in/erik-guzman-100/", target: "blank"

.columns
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span= link_to "Patrick Crowley, Board Member", "https://www.linkedin.com/in/patrick-crowley-12a1229/", target: "blank"