%h1 Meet the Organizers

%h6.subtitle.has-text-weight-light This is the team that makes SD Ruby happen.

.columns
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span
      = link_to "Sarah Proctor", "https://www.linkedin.com/in/sarahproctor-dev/", target: "blank"
      %br
      Organizer

.columns
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span
      = link_to "Rob Kaufman", "https://www.linkedin.com/in/robkaufman/", target: "blank"
      %br
      Co-Organizer
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span
      = link_to "Chris McCann", "https://www.linkedin.com/in/chris-mccann-a663a21/", target: "blank"
      %br
      Co-Organizer
  .column
    %span.icon
      %i.fab.fa-linkedin
    %span
      = link_to "Erik Guzman", "https://www.linkedin.com/in/erik-guzman-100/", target: "blank"
      %br
      Co-Organizer

.columns
  .column
    %span.icon
      %i.fa-regular.fa-id-card
    %span
      = link_to "Patrick Crowley", "#"
      %br
      Organizer Emeritus